# Dependências
/node_modules

# Bancos de Memória
/memory-bank
/src/pages/*/memory-bank

# Arquivos de Build
/dist
/.vite

# Logs
npm-debug.log*

# Variáveis de ambiente locais
.env
.env.*

# Arquivos de IDEs e editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db