.badge.python{
    color: #f7cc42;
}

.badge.php{
    color: #7b7fb5;
}

.badge.mysql{
    color: #08668e;
}

.badge.html{
    color: #f16a30;
}

.badge.css{
    color: #39acdd;
}

.badge.typescript{
    color: #3373bb;
}

.badge.git{
    color: #f15538;
}

.badge.automation{
    color: #f5f5f5;
}